<br>
<footer class="site-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h6>About</h6>
          <p>
            AtithiHome : Your Gateway to Unforgettable Adventures. Explore curated listings and embark on journeys where you'll encounter genuine hospitality and immerse yourself in local culture. Built with EJS, Bootstrap, Node.js, and Mapbox.
          </p>
        </div>
    
        <div class="col-md-4">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
          </ul>
        </div>
    
        <div class="col-md-4">
          <h6>Hosting</h6>
          <ul class="footer-links">
            <li><a href="#">Host your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Hosting resources</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Akshita</a>.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a class="facebook" href="#" aria-label="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a class="twitter" href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  